* {
  font-family: 'Inconsolata', monospace;
}

body {
    background-image: url("../images/joel-jasmin-forestbird-znoL1m6MD_k-unsplash.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
  
.form-group {
    margin: 30px;
}
#map {
    height: 500px;
    width: 570px;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

