
body {
    background-image: url("../images/joel-jasmin-forestbird-znoL1m6MD_k-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
.form-group {
    margin: 30px;
}

#map {
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

