* {
    font-family: 'Inconsolata', monospace;
}

body {
    background-image: url("../images/joel-jasmin-forestbird-znoL1m6MD_k-unsplash.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    color: white;
}

.form-group {
    margin: 30px;
}

#map {
    height: 500px;
    width: 500px;
    display: flex;

}

@media screen and (max-width:1260px) {
    #map {
        /* height: 200px; */
        width: 350px;
    }
}

@media screen and (max-width:740px) {
    #map {
        /* height: 200px; */
        width: 200px;
    }
}